In [17]:
# Dependencies
import pandas as pd
import numpy as np

In [18]:
# File to load
data_file = "Downloads/purchase_data.csv"

In [19]:
# Use Pandas to read data
purchase_data = pd.read_csv(data_file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [26]:
# Get count of unique players
player_unique = purchase_data["SN"].nunique()

In [27]:
# Create data frame with total player count
new_data= pd.DataFrame({"Total Players" : [player_unique]})
new_data

   Total Players
0            576

In [42]:
# Purchasing Analysis (Total)

# Number of Unique Items
item_unique = purchase_data["Item Name"].nunique()

# Average Price
avg_price = purchase_data["Price"].mean()

# Number of Purchases
purchase_count = purchase_data["Purchase ID"].count()

# Total Revenue
revenue = purchase_data["Price"].sum()

In [46]:
# Place Purchasing Analysis data into a summary DataFrame
summary_table = pd.DataFrame({"Number of Unique Items": [item_unique],
                             "Average Price": [avg_price],
                             "Number of Purchases": [purchase_count],
                             "Total Revenue": [revenue]})

# Convert "Average Price" and "Total Revenue" to float and format to 2 decimal places
summary_table["Average Price"] = summary_table["Average Price"].astype(float).map("${:,.2f}".format)
summary_table["Total Revenue"] = summary_table["Total Revenue"].astype(float).map("${:,.2f}".format)

summary_table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [54]:
# Gender Demographics

# Calculate gender count
count_gender = purchase_data["Gender"].value_counts()

count_gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [75]:
# Gender Demographics

# Calculate totals for each
gender_total = purchase_data["SN"].nunique()
male_count = purchase_data[purchase_data["Gender"] == "Male"]["SN"].nunique()
female_count = purchase_data[purchase_data["Gender"] == "Female"]["SN"].nunique()
other_count = gender_total - male_count - female_count

# Calcualte percentage for each
male_percent = ((male_count/gender_total)*100)
female_percent = ((female_count/gender_total)*100)
other_percent = ((other_count/gender_total)*100)

# Place Gender Demographic data into a summary DataFrame
gender_summary = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                               "Total Count": [male_count, female_count, other_count],
                               "Percentage of Players": [male_percent, female_percent, other_percent]},
                              columns = ["Gender", "Percentage of Players", "Total Count"])
# Set Gender as index                                        
gender_summary = gender_summary.set_index("Gender")

# Convert "Percentage of Players" to float and format to 2 decimal places
gender_summary.style.format({"Percentage of Players": "{:.2f}%"})

In [ ]:
# Age Demographics
# Create bins to hold data